/* Garantir que o body ocupe toda a altura da tela */
html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Estilo do footer */
#footer {
    background-color: #121212;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #363636;
    position: absolute;
    bottom: 0;
    width: 100%;
}